<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: nav"></div>

<body style="background-color: grey">
<form method="post">
    <div>
        <input th:field="${registerFormDTO.username}" class="form-control" placeholder="Username"/>
        <label>Username</label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>
    <div>
        <input th:field="${registerFormDTO.password}" class="form-control" placeholder="Password"/>
        <label>Password</label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div>
        <input th:field="${registerFormDTO.verifyPassword}" class="form-control" placeholder="Verify Password"/>
        <label>Verify Password</label>
        <p class="error" th:errors="${registerFormDTO.verifyPassword}"></p>
    </div>
    <div>
        <input th:field="${registerFormDTO.firstName}" class="form-control" placeholder="First Name"/>
        <label>First Name</label>
        <p class="error" th:errors="${registerFormDTO.firstName}"></p>
    </div>
    <div>
        <input th:field="${registerFormDTO.lastName}" class="form-control" placeholder="Last Name"/>
        <label>Last Name</label>
        <p class="error" th:errors="${registerFormDTO.lastName}"></p>
    </div>
    <div>
        <input th:field="${registerFormDTO.dateOfBirth}" class="form-control" placeholder="Date of Birth"/>
        <label>Date of Birth</label>
        <p class="error" th:errors="${registerFormDTO.dateOfBirth}"></p>
    </div>
</form>

</body>
</html>